@font-face {
  src: url(/fonts/GlacialIndifference-Bold.otf);
  font-family: GlacialIndifference;
}



html {
  
  background: url("/assets/green-grey_background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  background-color: #535353;
}

#title {
  position: fixed;
  top: 40%;
  width: 100%;
  font-size: 600%;
  text-align: center;
  opacity: 0.4;
  color: white;  
}

#navi {
  background-color: #535353;
  width: 100%;
  height: 7vh;
  position: fixed;
  top: 0;
}
#navi img {
  float: left;
  height:100%;
}

*{
	margin: 0px;
	padding: 0px;
}

#container {
	margin-left: 8vh;
}
#container ul {
	list-style: none;

}

#container ul li {
	background-color: #535353;
	width: 100px;
	border-radius: 2px;
	height: 7vh;
	line-height: 7vh;
	text-align: center;
	float: left;
	color: white;
	font-size: 19px;
	text-decoration: none;
	position: relative;

}

#container ul li:hover{
	background-color: #B6DC13;
	color: black;
}

#container ul ul {
	display: none;
}

#container ul li:hover > ul {
	display: block;
}

#container ul ul ul {
	margin-left: 100px;
	top: 0px;
	position: absolute;
}

.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -90%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

.para {
	width: 100%;
	height: 100%;
	top: 9vh;
	background-color: #535353;
}
