@font-face {
  src: url(fonts/GlacialIndifference-Bold.otf);
  font-family: GlacialIndifference;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;

  background-color: #528fff;

}

#header {
  background-color: #5271ff;
  width: 100%;
  height: 100%;

  padding-bottom: 0px;

}

#left {
  width: 50%;
  height: 100%;
  float: left;

  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#left h1 {
  text-align: right;

  font-size: 5vw;

  padding-top: 0;
}

#right {
  width: 50%;
  height: 100%;
  float: right;

  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#right img {
  max-width: 100%;
  height:auto;
}

#header img {
  padding: 0;
  display: block;
}

@media screen and (max-width: 400px) {
	#left, #right {
		width: 100%;
		height: 50%;
		justify-content: center;
		align-items: start;
	}
	#left h1 {
		text-align: center;
		font-size: 10vw;
	}
	#right {
		margin-top: 10vh;
	}
	#right img {
		height: 40vh;
		max-width: auto;
	}
}

.black {
  color: black;
}
.white{
  color: white;
}

.tab {
  padding-left: 5em;
}

.para {
  margin-top: 0px;
  padding-bottom: 10%;
  margin-bottom:0px;
  width: 100%;
  /* height: 100%; */
  background-color: 528fff;
}

#who {
  background-color: 528fff;
}

#hobbies {
  background-color: #5979ff;
}

.para h1 {
  text-align: center;
  font-size: 80px;

  font-family: GlacialIndifference;
  color: white;

  margin-top: 0px;
  padding-top: 10%;
}

.text-container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.text-container p {
  font-family: GlacialIndifference;
  font-size: 24px;
  color: white;
}

@media screen and (max-width:800px) {
  .para h1 {
    font-size: 10vw;
  }
}

@media screen and (max-width:480px) {
  .text-container p {
    font-size:5vw;
  }
}

.image-container {
  display: inline-block;
  float:left;
  text-align: center;
/*   width:50%; */
}

.image-container img {
  width:95%;
}

.video-container {
  float:left;
  text-align: center;
  width: 95%;
  height: auto;
}

.video-container video {
  width: 95%;
}

@media screen and (max-width:1080px) {
  .image-container, .video-container {
    display: block;
    width:100%;
  }
}

body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}
