body {
	background: #626262 url(../images/bg-main.jpg) repeat-x top center;
	color: #777;
	font-family: 'Quicksand', sans-serif;
	font-size: 10px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
img {
	border: none;
	display: block;
}
p {
	margin-bottom: 10px;
}
li {
	list-style-type: none;
	list-style-position: inside;
}
hr {
	border-top: 1px dotted #dddddd;
	clear: both;
	height: 0px;
	margin: 10px 0;
	overflow: hidden;
}
code, pre {
	font-family: "Courier New", Courier, monospace;
}
pre {
	background: #ffffff;
	font-size: 1.4em;
	font-weight: normal;
	line-height: 16px;
}
i, em {
	font-style: italic;
}
b, strong {
	font-weight: bold;
}
.clear {
	clear:both;
}
a {
	color: #b0b000;
	text-decoration: none;
}
a:active,
a:focus,
a:hover {
	color: #a0a001;
}
ul {
	list-style-type: disc;
	list-style-position: inside;
	padding: 0;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Arial, Sans-Serif;
	font-weight: normal;
	font-style: normal; 
	margin:0;
}
h1 {
	font-size: 2.0em;
	line-height: 25px;
	margin-bottom: 15px;
}
h2 {
	font-size: 1.6em;
	line-height: 1.8em;
}
h3 {
	font-size: 1.4em;
	line-height: 1.6em;
}
h4 {
	font-size: 1.2em;
	line-height: 1.4em;
}
.phone {
	padding:8px;
	background: #e5e5e5;
	font-size: 1.4em;
}
.phone h3 {
	font-weight: bold;
}
.usp {
	padding-left: 45px;
	width: 45%;	
}
.usp li {
	list-style: none !important;
	padding:0 0 0px 25px ;
	background: url(../images/checkmark.png) no-repeat left center;
	line-height: 35px;
	height:35px;
}
.usp ul {
	padding:0;
	margin:0;
	font-size: 1.4em;
	color:#777;
	font-weight: bold;
	line-height: 1.4em;
}
/********************************************************************** BUTTON */
.button {
	display:block;
	padding:10px;
	background:#555;
	color:#fff;
}
.button:hover {
	background:#777;
}
.button.theme {
	padding:10px;
	background:#c0c000;
	color:#fff;
}
.button.theme:hover {
	background: #cdcd00;	
}
.button.big {
	font-size: 1.8em;
	font-weight: bold;
	text-align: center;
	padding:15px;
	border-radius:4px;
}
/**************************************/

.shadow25 {
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.25);
  	-webkit-box-shadow: 0px 0px  rgba(0,0,0,0.25);
	box-shadow: 0px 0px 4px  rgba(0,0,0,0.25);
	/* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color=' rgba(0,0,0,0.25);')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color=' rgba(0,0,0,0.25);'); */
}
.shadow50 {
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.50);
  	-webkit-box-shadow: 0px 0px  rgba(0,0,0,0.50);
	box-shadow: 0px 0px 4px  rgba(0,0,0,0.50);
	/* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color=' rgba(0,0,0,0.50);')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color=' rgba(0,0,0,0.50);'); */
}
/***/
.corners4px {
	-moz-border-radius: 4px; /* Firefox */
	-webkit-border-radius: 4px; /* Safari, Chrome */
	border-radius: 4px; /* CSS3 */
}
/***********************************************************************  FORM   */
.errorBox {
	background: #b32016;
	color: #ffffff;
	margin-bottom: 30px;
	padding: 15px;
}
button {
	cursor: pointer;
	margin: 0;
	padding: 0;
}
form {
	margin: 0;
	padding: 0;
}
form dl dt {
	font-weight: bold;
}
form dl,
form dl dd {
	margin: 0;
	padding: 0;
}
form dl dd {
	margin-bottom: 5px;
}
form dl dd:last-child {
	margin: 0;
}
form fieldset {
	border: 1px solid #dddddd;
	margin: 10px 0 20px 0;
	padding: 16px;
}
form fieldset.submit {
	background: none;
	border: none;
	padding: 0;
}
form fieldset legend {
	background: #eaeaea;
	font-style: bold;
	padding: 8px 15px;
}
form fieldset label {
	display: inline-block;
	line-height: 20px;
	margin-bottom: 5px;
}
form dd.no-margin label {
	margin: 0;
}
form fieldset p {
	margin: 3px 0 7px 0;
	padding: 0;
}
form fieldset p:last-child {
	margin-bottom: 0;
}
input,
select,
textarea {
	background: #ffffff;
	border: 1px solid #dddddd;
	font-size: 1.2em;
	line-height: 1.6em;
	margin: 0;
	padding: 8px;
}
input:hover,
select:hover,
textarea:hover {
	border-color: #cccccc;
}
input:focus,
select:focus,
textarea:focus {
	border-color: #cccccc;
}
input.error,
textarea.error,
select.error {
	background: #ffcfcf;
	border-color: #e5a3a3;
	color: #6a6c63;
}
input.disabled,
textarea.disabled {
	background: #f2f2f2;
}
input.largeButton,
input.mediumButton,
input.smallButton {
	background: #c0c000;
	border: none;
	border-radius:4px;
	cursor: pointer;
	color: #ffffff;
	font-size: 1.4em;
	font-weight: bold;
	text-align: center;
	padding: 10px;
	font-family: Arial;
}
input.largeButton:hover,
input.mediumButton:hover,
input.smallButton:hover {
	background-color: #cece00;
}
input.largeButton.disabled,
input.mediumButton.disabled,
input.smallButton.disabled {
	background-color: #f2f2f2;
	color: #999999;
	cursor: default;
}
input.mediumButton {
	padding: 5px;
}
input.smallButton {
	font-size: 1.2em;
	line-height: 1.6em;
	padding: 3px;
}
input.largeButton.right,
input.smallButton.right {
	float: right;
	margin-left: 4px;
}
input.large {
	padding: 5px;
	font-size: 120%;
}
form input.text,
form input.password {
	width: 350px;
}
form select {
	width: 358px;
}
form input.text.zipCode {
	width: 50px;
	margin-right: 5px;
}
form input.text.city {
	width: 274px;
}
form select#customerCountryId,
form select#countryId {
	width: 368px;
}
form textarea {
	width: 350px;
	height: 100px;
	resize: vertical;
}
/***********************************************************************  SLIDESHOW   */
#slideShow #logo {
	position:absolute;
	top:-20px;
	left:25px;
	background:#fff;
	padding:20px;
	z-index:99;
}
#slideShow #slides {

	border-top:#fff solid 10px;

}
#slideShow #slogan {
	padding:15px;
	position:absolute;
	top:25px;
	right:25px;
	width:460px;
	background: url('../images/trans80.png') 0 0 repeat;
	z-index:100;
	color:#fff;
	padding:20px;
	font-size:2.0em;
	font-weight: 300;
	text-shadow: 0 1px #000;
}
.slideTitle {
	background: url('../images/trans80.png') 0 0 repeat;
	position: absolute;
	bottom:10px;
	right:10px;
	color:#fff;
	z-index: 99;
	padding:10px;
	font-size: 1.2em;
}
/***********************************************************************  WRAPPER   */
.wrapper {
	padding:15px 0;
}
.wrapper.back {
	
}
.wrapper .container {
	width: 960px;
	margin: 0 auto;
	position: relative;
}
.contentPadding {
	padding:20px;
}
.contentPadding.text {
	font-size: 1.3em;
	font-family: arial;
}
.contentPadding.text h1 {
	color:#b5b400 !important;
	font-family: 'Quicksand', sans-serif;
}
/***/
/***********************************************************************  HEADER   */
.wrapper.header .container.header {
	
}
.wrapper.header .container.header #slideShow {

}
/***/
/***********************************************************************  CONTENT   */
.wrapper.content {
	background: #fff;
}
.wrapper.content .container.content {
	min-height:300px;
}
.wrapper.content .container.content .block.small {
	width:210px;
}
.wrapper.content .container.content .block.small .contentPadding {
	padding:30px 0;
}
.wrapper.content .container.content .block.big {
	width:720px;
	float:left;
}
.wrapper.content .container.content .block.big li {
	list-style-type: disc;
}
.wrapper.content .container.content .block.big .contentPadding {
	padding:30px 20px;
}
.wrapper.content .container.content.menuLeft {
	background:url(../images/menuLeft-white.png);
}
.wrapper.content .container.content.menuLeft .block.small {
	float:left;
	margin-right:30px;
}
.wrapper.content .container.content.menuRight {
	background:url(../images/menuRight-white.png);
}
.wrapper.content .container.content.menuRight .block.small {
	float:right;
	margin-left:30px;
}
/***/
/***********************************************************************  FOOTER   */
.wrapper.footer {
	background: #626262;
	font-size: 1.2em;
}
.wrapper.footer .container.footer {
	background:#333;
	color:#fff;
}
.wrapper.footer .social {
	float: right;
	padding-left: 5px;

}
.wrapper.footer .devider {
	padding:0 10px;
	}
/***/
/***********************************************************************  DISCLAIMER   */
.wrapper.disclaimer {
	background: #626262;
}
.wrapper.disclaimer .container.disclaimer {

}
.wrapper.disclaimer .container.disclaimer #share {
	float: left;
}
.wrapper.disclaimer .container.disclaimer .x-cms {
	float:right;
	padding:10px 30px 10px 10px;
	color:#fff;
	background:url(../images/x-icon-white.png) no-repeat right center;
	font-size:1.1em;
	margin:-15px 0 30px 0;
}
/***/
/***********************************************************************  MENU   */
.wrapper.menu {
	padding-top:0;
}
/***/
#menu {
	width:960px;
	height:48px;
	line-height:48px;
	background: #626262;
}
#menu ul {
	list-style-type: none;
	padding:0 10px;
	margin:0;
}

#menu ul li {
	float: left;
	position: relative;
	margin-right:10px;
	
}
#menu ul li a {
	color: #fff;
	display: block;
	font-size: 1.4em;
	line-height: 18px;
	padding: 15px 12px 15px 12px;
}
#menu ul li.has-sub > a {
	background: url(../images/menuArrow.png) 100% 48% no-repeat;
	padding-right: 21px;
}
#menu ul li.has-sub:hover > a {
	background-image: url(../images/menuArrowOver.png);
}
#menu ul li.has-sub.active > a {
	background-image: url(../images/menuArrowActive.png);
}
#menu ul li.has-sub.active:hover > a {
	background-image: url(../images/menuArrowActiveOver.png);
}
#menu ul li:hover,
#menu ul li.active {
	
}
#menu ul li:hover a {
	color: #dddc00;
	text-shadow: none;
}
#menu ul li.active a {
	color: #dddc00;
	text-shadow: none;
	font-weight: 700;
}

#menu ul li ul {
	background: #626262;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
	display: none;
	min-width: 200px;
	position: absolute;
	top: 48px;
	left: auto;
	z-index: 100;
	padding:0;
}
#menu ul li:hover ul {
	/* display: block; */
}
#menu ul li ul li {
	border-bottom: 1px solid #dddddd;
	border-radius: 0;
	float: none;
	margin: 0;
	padding:2px 0;
}
#menu ul li ul li:last-child {
	border: none;
}
#menu ul li ul li a {
	color: #fff;
	font-weight: normal !important;
	padding: 7px 10px;
	font-size: 1.4em;
}
#menu ul li ul li:hover {
	background: #7b7b7b;
}
#menu ul li ul li.active {
	background: #7b7b7b;
}
#menu ul li ul li.active a {
	font-weight: normal !important;
}
/***********************************************************************  MENU LEFT   */
#menuLeft ul  {
	margin-left:0;
}
#menuLeft ul li a {
	font-size: 1.3em;
	display:block;
	color:#fff;
	padding:6px 8px;
	background: #7a7a7a;
	margin:2px 0;
}
#menuLeft ul li a:hover, #menuLeft ul li a.active {
	background:#858484;	
}
#menuLeft ul li ul li a {
	font-size: 1.2em;
	display:block;
	color:#7a7a7a;
	padding:4px 8px 4px 12px;
	background: #f0f0f0;
	margin:2px 0;
}
#menuLeft ul li ul li a:hover, #menuLeft ul li ul li a.active {
	background: #dbdbdb !important;
}
/***********************************************************************  MENU BOTTOM   */
#menuBottom {
	background: #8a8a8a;
	box-shadow: inset 0px 0px 3px #858585;
	-moz-box-shadow: inset 0px 0px 3px #858585;
	-webkit-box-shadow: inset 0px 0px 3px #858585;
	padding: 15px;
}
#menuBottom ul {
	float: left;
	width: 150px;
	margin-right: 20px;
}
#menuBottom ul:last-child {
	margin: 0;
}
#menuBottom ul li {
	margin-bottom: 5px;
}
#menuBottom ul li:last-child {
	margin: 0;
}
#menuBottom ul li a {
	display: block;
}
#menuBottom ul li ul {
	border: none;
	margin: 0;
	padding: 0;
}
#menuBottom ul li ul li {
	margin: 0;
}
#menuBottom ul li ul li:last-child {
	margin-bottom: 5px;
}
#menuBottom ul li ul li a {
	color: #cccccc;
	font-size: 1.1em;
}
.subMenu {
	padding-bottom:10px;
	margin-bottom:10px;
	text-align: left;
}
.subMenu a {
    background: none repeat scroll 0 0 #F2F2F2;
    border-radius: 3px 3px 3px 3px;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    margin-bottom: 2px;
    padding: 4px 8px;
}
.subMenu a:hover {
	background: none repeat scroll 0 0 #ddd;
}
/***********************************************************************  TWITTER   */
.wrapper.twitter {
	background: #ffffff;
	border-top:1px solid #efefef;
}
.wrapper.twitter .container.twitter {
	
}
#twitter {
	background: #4099ff;
	color: #ffffff;
	padding: 20px;
}
#twitter a {
	color: #ffffff;
}
#twitter ul {
	min-height: 48px;
	height: auto !important;
	height: 48px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#twitter ul li {
	display: none;
	min-height: 48px;
	height: auto !important;
	height: 48px;
	list-style-type: none;
	padding-left: 68px;
	position: relative;
}
#twitter ul li span {
	display: block;
}
#twitter ul li .image {
	background: #ffffff;
	width: 48px;
	height: 48px;
	overflow: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}
#twitter ul li .user {
	font-weight: bold;
}
#twitter ul li .status a {
	text-decoration: underline;
}
/***********************************************************************  CLEARFIX   */
.clear {
	clear: both;
	display: block;
}
.clearfix:after,
#login .row:after,
#menu ul:after,
#content:after,
.tweets li:after,
.newsItem:after,
.itemNav:after,
.objects li:after,
.reservationSteps:after,
.productLinks:after,
#productWrapper:after,
#productGroupWrapper:after,
#stockInfo #isInStockInfo:after,
#stockInfo #notInStockInfo:after,
#stappenWrapper:after,
#profile #profileMenu:after,
.match-big:after,
#comments ul li:after,
#breadcrumbs:after,
#breadcrumbs ul:after,
#menuBottom:after,
#footer:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}
* html .clearfix,
* html #login .row,
* html #menu ul,
* html #content,
* html .tweets li,
* html .newsItem,
* html .itemNav,
* html .objects li,
* html .reservationSteps,
* html .productLinks,
* html #productWrapper,
* html #productGroupWrapper,
* html #stockInfo #isInStockInfo,
* html #stockInfo #notInStockInfo,
* html #stappenWrapper,
* html #profile #profileMenu,
* html .match-big,
* html #comments ul li,
* html #breadcrumbs,
* html #breadcrumbs ul,
* html #menuBottom,
* html #footer {
	height: 1%;
	overflow: visible;
}
*:first-child+html .clearfix,
*:first-child+html #login .row,
*:first-child+html #menu ul,
*:first-child+html #content,
*:first-child+html .tweets li,
*:first-child+html .newsItem,
*:first-child+html .itemNav,
*:first-child+html .objects li,
*:first-child+html .reservationSteps,
*:first-child+html .productLinks,
*:first-child+html #productWrapper,
*:first-child+html #productGroupWrapper,
*:first-child+html #stockInfo #isInStockInfo,
*:first-child+html #stockInfo #notInStockInfo,
*:first-child+html #stappenWrapper,
*:first-child+html #profile #profileMenu,
*:first-child+html .match-big,
*:first-child+html #comments ul li,
*:first-child+html #breadcrumbs,
*:first-child+html #breadcrumbs ul,
*:first-child+html #menuBottom,
*:first-child+html #footer {
	min-height: 1px;
}
